{% extends 'master2.html' %}
{% block content %}
{% load static %} 
<div class="p-lg-5">
<h4>comments</h4><hr>
<table class="table table-bordered table-light">
    <thead class="thead-dark">
      <tr>
        <th scope="col">USER NAME</th>
        
        <th scope="col">comment</th>
       
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">HARSHIN</th>
        
        <td>nice food</td>
       
        
      </tr>
      <tr>
        <th scope="row">SREEHARI</th>
       
        <td>awesome</td>
       
       
      </tr>
    </tbody>
  </table></div>

  
{% endblock %}