{% extends 'master2.html' %}
{% block content %}
{% load static %} 
<div class="p-lg-5">
<h4>Orders</h4><hr>
<table class="table  table-light table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">userId</th>
        <th scope="col">Order Time</th>
        <th scope="col">orderId</th>
        <th scope="col">Party Size</th>
        <th scope="col">Dining</th>
        <th scope="col">Food</th>
        <th scope="col">Requirments</th>
        <th scope="col">Status</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">01/01/2022</th>
        <td>UID1</td><td>12:30</td>
        <td>OID1</td>
        
        <td>6</td>
        <td>Family</td>
        <td>Bhiriyani</td>
        <td>Chicken</td>
        <td>Done</td>
      </tr>
      <tr>
        <th scope="row">01/01/2022</th>
        <td>UID2</td><td>3:30</td>
        <td>OID2</td>
        
        <td>4</td>
        <td>Public</td>
        <td>abc</td>
        <td>cdef</td>
        <td>Pending</td>
      
      </tr>
      <tr>
       
      </tr>
    </tbody>
  </table></div>
  {% endblock %}