{% extends 'master2.html' %}
{% block content %}
{% load static %} 
<div class="p-lg-5">
<h4>Orders</h4><hr>
<table class="table  table-light table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">userId</th>
        <th scope="col">orderId</th>
        <th scope="col">Party Size</th>
        <th scope="col">Dining</th>
        <th scope="col">Food</th>
        <th scope="col">Requirments</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>101</td>
        <td>Biriyani</td>
        <td>Chicken</td>
        <td>6</td>
        <td>600</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>102</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>103</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table></div>
  {% endblock %}