{% extends 'master2.html' %}
{% block content %}
{% load static %} 
<div class="p-lg-5">
<h4>Payament</h4><hr>
<table class="table table-light">
    <thead class="thead-dark">
      <tr>
        <th scope="col">USER NAME</th>
        <th scope="col">food</th>
        <th scope="col">amount</th>
        <th scope="col">time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">HARSHIN</th>
        <td>Chicken Biriyani</td>
        <td>150</td>
        <td>12:00 pm</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
  {% endblock %}