{% extends 'master2.html' %}
{% block content %}
{% load static %}
<div class="p-lg-5">
    <h4>Present Table</h4><hr>
    <table class="table table-light">
        <thead class="thead-dark">
          <tr> 
              <th scope="col">Updated time</th>
            <th scope="col">Table Number</th>
            <th scope="col">Available Tables</th>
            <th scope="col">Available Chaires</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12:00 pm</td>
            <th scope="row">T1</th>
            <td>30</td>
            <td>180</td>
            
          </tr>
          <tr>
           

          </tr>
          <tr>
           

          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}