{% extends 'master.html' %}
{% block content %}
{% load static %} 
<form class="p-5" id="contact" style="color: red;">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4" name="email2" style="color: black;">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4" name="phone2" style="color: black;">phone number</label>
        <input type="number" class="form-control" id="inputPassword4">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress" name="address" style="color: black;">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity" style="color: black;">City</label>
        <input type="text" class="form-control" id="inputCity" name="city">
      </div>
      <div class="form-group col-md-4" style="color: black;">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
    </div>
    <div class="form-group" style="color: black;">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-success" style="color: black;">Sign in</button>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    $(document).ready(function(){
       $("#contact").validate({
           rules:{
               email2:{
                   required:true,
                   email:true
               },
               phone2:{
                 required:true,
                 minlength:10
               
               
               },
               address:{
                 required:true,
                 maxlength:300
               },
               city:{
                 required:true,
                 maxlength:100
               }

           }
       })
   })
  </script>
{% endblock %}