{% load static%}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- fontaewsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Book my table</title>
</head>

<body>
<!-- nav start -->
    <section id="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-toggler" style="background-color: black;" >
                <div class="container-fluid">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e6b30e" class="bi bi-house"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                        <path fill-rule="evenodd"
                            d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                    </svg> <a class="navbar-brand theme-text" href="#">
                        &nbsp;Book my table</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 xs-auto">
                            <li class="nav-item">
                                <a class="nav-link act" aria-current="page" href="/home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/resto">Tables</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/aboutus">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact Us</a>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">LOGIN</button>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
            <!-- navbar code -->
            <div class="middle" style="height: 50vh;">
                <h1 class="text-white display-3 fw-bold">
                    We Help you to find <span class="theme-text">a better
                        Table</span>.</h1>            
            </div>
            <div>
                <a href="/register" type="button" class="btn btn-outline-light btn-lg mb-lg-10">REGISTER</a>
                <a href="/resreg" type="button" class="btn btn-outline-light btn-lg mb-lg-10">REGISTER AS RESTAURANT</a>
              </div>
           
        </div>
        <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#fff" fill-opacity="1"
                d="M0,192L60,181.3C120,171,240,149,360,133.3C480,117,600,107,720,106.7C840,107,960,117,1080,122.7C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>
        </svg>
    </section>
    <script type="text/javascript">
        var nav = document.querySelector('nav');
  
        window.addEventListener('scroll', function () {
          if (window.pageYOffset > 100) {
            nav.classList.add('bg-dark', 'shadow');
          } else {
            nav.classList.remove('bg-dark', 'shadow');
          }
        });
   
      </script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous">
   
      </script>
 <br><br><br>
  <section id="about ">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12 wow fadeIn">
                <h1 class="fw-bold">TABLE RESERVATION SYSTEM</h1>
                <p>enjoy your food with yor best table <br><br><br><br>
                </p>
                
            </div> 
        </div>
        
        <div class="row text-center content-row">
            <div class="col-md-3 col-sm-6 wow fadeIn shadow-lg p-3 mb-5 bg-white rounded" data-wow-delay=".2s">
                <div class="about-content">
                    <i class="fa fa-eye fa-4x"></i>
                    <h3>Easy and user-friendly</h3>
                    <p>Incredibly easy to use and provides a good overview of the reservations.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn shadow-lg p-3 mb-5 bg-white rounded" data-wow-delay=".4s">
                <div class="about-content">
                    <i class="fa fa-mobile fa-4x"></i>
                    <h3>SMS notifications</h3>
                    <p>Automatically sends out guest confirmations and reminders.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn shadow-lg p-3 mb-5 bg-white rounded" data-wow-delay=".6s">
                <div class="about-content">
                    <i class="fa fa-edit fa-4x"></i>
                    <h3>Satisfaction survey</h3>
                    <p>Get valuable feedback from your visitors after each visit.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn shadow-lg p-3 mb-5 bg-white rounded" data-wow-delay=".8s">
                <div class="about-content">
                    <i class="fa fa-desktop fa-4x"></i>
                    <h3>Easy implementation</h3>
                    <p>Can easily be implemented on the restaurant's own website.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<br><br><br><br><br>
<div class="mx-lg-5"><h2>Restaurents Near You</h2></div> <br>
<div class="row row-cols-1 row-cols-md-3 mx-lg-5" >
    <div class="col mb-4" style="width: 18rem;border-radius: 30px;">
      <div class="card h-100">
        <img src="{% static 'images/Paragon.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Paragon Restaurant</h5>
          <p class="card-text">Calicut,kerala</p>
          <button type="button" class="btn btn-warning">Book Now</button>
        </div>
      </div>
    </div>
    <div class="col mb-4" style="width: 18rem;border-radius: 30px;">
      <div class="card h-100">
        <img src="{% static 'images/grillax.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The Grillax</h5>
          <p class="card-text">calicut, kerala</p>
          <button type="button" class="btn btn-warning">Book Now</button>
        </div>
      </div>
    </div>
    <div class="col mb-4" style="width: 18rem;border-radius: 30px;">
      <div class="card h-100">
        <img src="{% static 'images/Sulthan.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sulthan palace</h5>
          <p class="card-text">kondotty,malappuram</p>
          <button type="button" class="btn btn-warning">Book Now</button>
        </div>
      </div>
    </div>

  </div>

  <div class="mx-lg-5"><h2>Top Cuisines near You</h2></div> <br>


<div class="row mb-lg-5">
    <div class="col-3">
        <a href="">
            <div class="card mx-lg-5" style="width: 18rem;border-radius: 30px;">
          <img src="{% static 'images/jumbo.jpg' %}" class="card-img-top" alt="...">
          
          <div class="card-img-overlay"><br><br><br><br><br>
              <h5 class="card-title font-weight-bolder" style="color: azure;">Best Asian Restaurents Near you</h5>
              
            </div>
        </div>
      </a>
    </div>
    <div class="col-9"><a href="">
        <div class="card mx-lg-5" style="width: 18rem;border-radius: 30px;">
      <img src="{% static 'images/jumbo.jpg' %}" class="card-img-top" alt="...">
      
      <div class="card-img-overlay"><br><br><br><br><br>
          <h5 class="card-title font-weight-bolder" style="color: azure;">Best Arabian Restaurent Near you</h5>
          
        </div>
    </div>
    </a></div>
</div>
  </div>
<style>
  .container .card {
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out
}

.container .card:hover {
    height: 450px
}

.container .card .imgContainer {
    position: relative;
    width: 250px;
    height: 250px;
    top: -50px;
    left: 10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2)
}

.container .card .imgContainer img {
    max-width: 100%;
    border-radius: 4px
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s
}

@media (max-width: 330px) {
    .container .card .imgContainer {
        left: -2px
    }
}

</style>

  <br><br><br><br>
        
   


  

  

<!-- modal start-->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" >
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="login" style="color: red;">
                <div class="mb-3">
                    <label class="form-label" style="color: black;">Email Address</label>
                    <input name="email" type="text" class="form-control" id="username"  placeholder="Username"/>
                    <br>
                    <p id="p1"> </p>
                </div>
                <div class="mb-3">
                    <label class="form-label" style="color: black;">Password</label>
                    <input name="pass" type="password" class="form-control" id="password" name="password" placeholder="Password" />
                    <p id="p2"></p>

                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="rememberMe" />
                    <label class="form-check-label" for="rememberMe" style="color: black;">Remember me</label>
                </div>
                <div class="modal-footer d-block">
                    <p class="float-start" style="color: green;">Not yet account <a href="#">Sign Up</a></p>
                    <button type="submit" class="btn btn-warning float-end" onclick="return sub()">Submit</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
   $(document).ready(function(){
       $("#login").validate({
           rules:{
               email:{
                   required:true,
                   email:true
               },
               pass:{
                   required:true,
                   maxlength:8,
                   minlength:8

               }

           }
       })
   })
   
        
</script>

<!-- modal end -->



<!-- footer -->
<div>
  <footer class="footer-section cta-footer">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-map"></i>
                        <div class="cta-text">
                            <h4>Find us</h4>
                            <span>calicut,kerala,India</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-phone"></i>
                        <div class="cta-text">
                            <h4>Call us</h4>
                            <span>98888888</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>bookmytablemail@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
               
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Discover</h3>
                        </div>
                        <ul>
                            <li><a href="#">Trending Restaurent</a></li>
                            <li><a href="#">Private Dining</a></li>
                            <li><a href="#">Reserve for others</a></li>
                            <li><a href="#">Cuisines Near Me</a></li>
                            <li><a href="#">Restaurent Near Me</a></li>
                            <li><a href="#">Delivery Near Me</a></li>
                            <li><a href="#">Restaurent Open Now</a></li>
                           
                        </ul>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3>Top Facilities</h3>
                      </div>
                      <ul>
                          <li><a href="#">Romantic</a></li>
                          <li><a href="#">Fine Dining</a></li>
                          <li><a href="#">Buffet</a></li>
                          <li><a href="#">5 star</a></li>
                          <li><a href="#">pure veg</a></li>
                          <li><a href="#">Roof Top</a></li>
                         
                      </ul>
                  </div>
              </div>

              <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                

                <div class="footer-text">
                      <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                      elit,Lorem ipsum dolor sit amet.</p>
                  </div>
                  <div class="footer-social-icon">
                      <span>Follow us</span>
                      <a href=""><i class="fa fa-facebook-f facebook-bg"></i></a>
                      <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                      <a href="#"><i class="fa  fa-google-plus google-bg"></i></a>
                      
                  </div>
            </div>
            <div class="col-xl-4 col-lg-4 mb-50">
              <div class="footer-widget">
                  <div class="footer-logo">
                     
                  </div>
                  
              </div>
          </div>
               
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2021, All Right Reserved <a href="">BookmyTable.com</a></p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</footer>
</div>

</body>

</html>