
{% extends 'master1.html' %}
{% block content %}
{% load static %} 
    <!-- content -->
    <section class="home-section">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">r/no</th>
            <th scope="col">Restaurent name</th>
            <th scope="col">contact</th>
            <th scope="col">owner</th>
            <th scope="col">Details</th>
            <th scope="col">manage</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Paragon</td>
            <td>9867847484</td>
            <td>Shadil</td>
            <td><a href="goto" type="button" class="btn btn-primary">Go to</a>
            </td>
            <td><button type="button" class="btn btn-success">Accept</button>
                <button type="button" class="btn btn-danger">Reject</button></td>
    
          </tr>
          <tr>
            <th scope="row">2</th>
          
          </tr>
          <tr>
            <th scope="row">3</th>
            
          </tr>
        </tbody>
      </table>


      <!-- Button trigger modal -->



    </section>

    
<!-- Modal -->
<!-- <div  class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-sm table-bordered p-5">
          <thead>
            <tr>
              <th scope="col">Restaurant Name</th>
              <th scope="col">Location</th>
              <th scope="col">Type of restaurant</th>
              <th scope="col">Cuisines</th>
              <th scope="col">Payment</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Paragon</th>
              <td>Calicut,Kerala</td>
              <td>veg And Non-veg</td>
              <td><ul>
                <li>pure veg</li>
                <li>Arabian</li>
                <li>chinese</li>
                <li>Italian</li>
              </ul></td>
              <td>paid</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->


   

      {% endblock %}

