{% extends 'master1.html' %}
{% block content %}
{% load static %}
<div class="p-5">
    <div class="p-5">
        <div class="p-5">

            <div>
                <div><h2>Details of Restaurant</h2></div>
                <div>

                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">Restaurant Name</th>
                            <th scope="col">Owner name</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Email</th>
                            <th scope="col">Country</th>
                            <th scope="col">State</th>
                            <th scope="col">City</th>
                            <th scope="col">Pin</th>
                            <th scope="col">No.of Tables</th>
                            <th scope="col">No.of Chaires</th>
                            <th scope="col">Each Table Carries</th>
                            <th scope="col">Payment Details</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">ABC</th>
                            <td>cdef</td>
                            <td>9867XXX</td>
                            <td>abc@gmail.com</td>
                            <td>India</td>
                            <td>Kerala</td>
                            <td>Calicut</td>
                            <td>673678</td>
                            <td>30</td>
                            <td>180</td>
                            <td>6 Peoples</td>
                            <td>Paid</td>    
                          </tr>
                         
                        </tbody>
                      </table>

            </div>
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                      
                    </div>
                  </div>

    </div>
</div>
</div>
</div>
{% endblock %}