{% extends 'master1.html' %}
{% block content %}
{% load static %} 
<section class="home-section">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">User Name</th>
            <th scope="col">contact</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>Shadil</td>
            <td>9867847484</td>
            
    
          </tr>
          <tr>
            <th scope="row"></th>
            <td>Rasal</td>
            <td>9836353456</td>
            
          </tr>
          <tr>
            <th scope="row"></th>
            <td>Firas</td>
            <td>9863542678</td>
           
            
          </tr>
        </tbody>
      </table>
    </section>
{% endblock %}